@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Regular"), url("./ursine/AvenirNextLTPro-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: italic;
  font-weight: normal;
  src: local("Avenir Next LT Pro It"), url("./ursine/AvenirNextLTPro-It.woff") format("woff");
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: bold;
  src: local("Avenir Next LT Pro Demi"), url("./ursine/AvenirNextLTPro-Demi.woff") format("woff");
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: italic;
  font-weight: bold;
  src: local("Avenir Next LT Pro DemiIt"), url("./ursine/AvenirNextLTPro-DemiIt.woff") format("woff");
}

@font-face {
  font-family: 'Adelle';
  font-style: normal;
  font-weight: normal;
  src: local("Adelle Light"), url("./ursine/Adelle_light.woff") format("woff");
}

@font-face {
  font-family: 'Adelle';
  font-style: italic;
  font-weight: normal;
  src: local("Adelle Light Italic"), url("./ursine/Adelle_LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Adelle';
  font-style: normal;
  font-weight: bold;
  src: local("Adelle SemiBold"), url("./ursine/Adelle_Semibold.woff") format("woff");
}

@font-face {
  font-family: 'Adelle';
  font-style: italic;
  font-weight: bold;
  src: local("Adelle SemiBold Italic"), url("./ursine/Adelle_SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: normal;
  src: local("Cousine Regular"), url("./ursine/Cousine-Regular.woff") format("woff");
}

/* CodeMirror Dracula theme */
.cm-s-inner {
  padding: .5rem .2rem;
  border: 1px solid var(--accent-color) !important;
  border-radius: .25rem;
}

.cm-s-inner.CodeMirror, .cm-s-inner .CodeMirror-gutters {
  background-color: #282a36 !important;
  color: #f8f8f2 !important;
  border: none;
}

.cm-s-inner .CodeMirror-gutters {
  width: 5ch;
  color: #6d8a88;
}

.cm-s-inner .CodeMirror-cursor {
  border-left: solid thin #f8f8f2 !important;
}

.cm-s-inner .CodeMirror-linenumber {
  width: 4ch !important;
  color: #6D8A88;
}

.cm-s-inner .CodeMirror-line::selection, .cm-s-inner .CodeMirror-line::-moz-selection,
.cm-s-inner .CodeMirror-line > span::selection,
.cm-s-inner .CodeMirror-line > span::-moz-selection,
.cm-s-inner .CodeMirror-line > span > span::selection,
.cm-s-inner .CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-inner span.cm-comment {
  color: #6272a4;
}

.cm-s-inner span.cm-string, .cm-s-inner span.cm-string-2 {
  color: #f1fa8c;
}

.cm-s-inner span.cm-number {
  color: #bd93f9;
}

.cm-s-inner span.cm-variable, .cm-s-inner span.cm-variable-2 {
  color: #50fa7b;
}

.cm-s-inner span.cm-def {
  color: white;
}

.cm-s-inner span.cm-operator {
  color: #ff79c6;
}

.cm-s-inner span.cm-keyword {
  color: #ff79c6;
}

.cm-s-inner span.cm-atom {
  color: #bd93f9;
}

.cm-s-inner span.cm-meta {
  color: #f8f8f2;
}

.cm-s-inner span.cm-tag {
  color: #ff79c6;
}

.cm-s-inner span.cm-attribute {
  color: #50fa7b;
}

.cm-s-inner span.cm-qualifier {
  color: #50fa7b;
}

.cm-s-inner span.cm-property {
  color: #66d9ef;
}

.cm-s-inner span.cm-builtin {
  color: #50fa7b;
}

.cm-s-inner span.cm-variable-3, .cm-s-inner span.cm-type {
  color: #ffb86c;
}

.md-fences.md-focus .cm-s-inner .CodeMirror-activeline-background {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-inner .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

.cm-s-inner .CodeMirror-selected, .cm-s-inner .CodeMirror-selectedtext {
  background: #3b4254 !important;
  color: inherit;
  text-shadow: none;
}

#fences-auto-suggest .active {
  background: #3c3c3c;
}

#write .code-tooltip {
  bottom: initial;
  top: calc(100% - 1px);
  background: #282a36;
  border: 1px solid #3c3c3c;
  border-top: 0;
}

.auto-suggest-container {
  border-color: #5b5b5b;
}

.auto-suggest-container .autoComplt-hint.active {
  background: #2b2b2b;
  color: #fff;
}

:root {
  --bg-color: #1e2022;
  --text-color: #ddd;
  --md-char-color: #5b5b5b;
  --meta-content-color: #757575;
  --table-border-color: #5b5b5b;
  --primary-color: #428bca;
  --primary-btn-border-color: #285e8e;
  --primary-btn-text-color: #ddd;
  --window-border: 1px solid #16161a;
  --active-file-bg-color: #16161a;
  --active-file-text-color: inherit;
  --active-file-border-color: #757575;
  --active-search-item-bg-color: #212121;
  --side-bar-bg-color: #2b2b2b;
  --item-hover-bg-color: #1e2022;
  --item-hover-text-color: #fff;
  --search-select-text-color: #ddd;
  --search-select-bg-color: #428bca90;
  --rawblock-edit-panel-bd: #3c3c3c;
  --monospace: 'Cousine', 'Consolas', monospace;
}

html, body {
  font-family: 'Avenir Next LT Pro', 'Lato', sans-serif;
}

body {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Adelle', 'Times New Roman', serif;
}

p {
  margin: .5rem 0;
}

a {
  color: #6bcafb;
}

del {
  color: #5b5b5b;
}

mark {
  padding: 2px 1px;
  background: #fee405;
}

blockquote {
  margin: 1rem 0 1rem 2rem;
  font-family: 'Adelle', 'Times New Roman', serif;
}

blockquote p::before {
  content: '';
  position: absolute;
  left: -2rem;
  height: 100%;
  width: .25rem;
  background: #428bca;
}

blockquote p:not(:last-child)::before {
  height: calc(100% + 1rem);
}

code,
.md-fences,
tt {
  font-family: 'Cousine', 'Consolas', monospace;
  font-size: 1rem;
}

code {
  border: 1px solid #3c3c3c;
  border-radius: .25rem;
  padding: 0 .125rem;
  background: transparent;
}

hr {
  border-color: #5b5b5b;
}

table {
  border: 1px solid #5b5b5b;
  margin: 1rem 0;
}

table tr:nth-child(2n) {
  background: #3c3c3c;
}

thead {
  background: #4d4d4d;
}

td, th {
  padding: .35rem .7rem;
  border: 1px solid #5b5b5b;
}

#write {
  position: static;
  width: 90%;
  max-width: 700px;
  line-height: 1.6;
  transform: none;
}

#write h1, #write h2, #write h3, #write h4, #write h5, #write h6, #write p, #write pre {
  width: auto;
}

#write h1::before, #write h2::before, #write h3::before, #write h4::before, #write h5::before, #write h6::before {
  position: absolute;
  top: 0;
  right: calc(100% + 10px);
  color: #5b5b5b;
  font-size: 1rem;
  font-weight: bold;
  font-variant: 'small-caps';
}

#write h3::before, #write h4::before, #write h5::before, #write h6::before {
  border: 0;
  border-radius: 0;
  left: auto;
  float: none;
  padding: 0;
  vertical-align: baseline;
  line-height: 20px;
}

#write h1 {
  font-size: 1.8rem;
  margin: 1rem 0;
}

#write h1::before {
  content: 'H1';
  top: .7rem;
}

#write h2 {
  font-size: 1.4rem;
  margin: .7rem 0;
}

#write h2::before {
  content: 'H2';
  top: .37rem;
}

#write h3 {
  font-size: 1.2rem;
  margin: .5rem 0;
}

#write h3::before {
  content: 'H3';
  top: .15rem;
}

#write h4 {
  font-size: 1.1rem;
  margin: .2rem 0;
}

#write h4::before {
  content: 'H4';
}

#write h5, #write h6 {
  font-size: 1rem;
  margin: 0;
}

#write h5::before {
  content: 'H5';
}

#write h6::before {
  content: 'H6';
}

#write ol, #write ul {
  padding-left: 2rem;
  margin: .5rem 0;
}

#write ol > li, #write ul > li {
  color: #428bca;
  padding-left: .25rem;
}

#write ol > li > *, #write ul > li > * {
  color: #ddd;
}

#write ul {
  list-style-type: disc;
}

#write .md-task-list-item > input {
  -webkit-appearance: initial;
  display: block;
  position: absolute;
  border: 1px solid #5b5b5b;
  border-radius: .25rem;
  margin-top: .1rem;
  margin-left: -1.8rem;
  height: 1.2rem;
  width: 1.2rem;
  transition: background 0.3s;
}

#write .md-task-list-item > input:focus {
  outline: none;
  box-shadow: none;
}

#write .md-task-list-item > input:hover {
  background: #3c3c3c;
}

#write .md-task-list-item > input[checked]::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  height: 60%;
  width: 2px;
  transform: rotate(40deg);
  background: #ddd;
}

#write .md-task-list-item > input[checked]::after {
  content: '';
  position: absolute;
  top: 46%;
  left: 25%;
  height: 30%;
  width: 2px;
  transform: rotate(-40deg);
  background: #ddd;
}

#write .md-task-list-item > p {
  transition: color 0.3s;
}

#write .md-task-list-item.task-list-done > p {
  color: #5b5b5b;
  text-decoration: line-through;
}

#write .md-meta-block {
  background-color: transparent;
  border-bottom: 1px solid #5b5b5b;
  padding-bottom: 1rem;
  opacity: .8;
}

#write .md-table-edit {
  border-top: 1px solid #5b5b5b;
  margin-top: -29px !important;
  padding: 3px 0;
}

#write .md-grid-board a.md-active, #write .md-grid-board a:hover {
  background: #428bca;
  color: #5b5b5b;
}

#write .md-grid-board tr[row='1'] a.md-active, #write .md-grid-board tr[row='1'] a:hover {
  background: #285e8e;
  color: #5b5b5b;
}

#write .btn-group .btn + .btn {
  margin-left: 0;
}

#write .btn-default.active, #write .btn-default.focus, #write .btn-default:active, #write .btn-default:focus, #write .btn-default:hover,
.open > #write .btn-default.dropdown-toggle {
  background: transparent;
  color: inherit;
}

#write .btn-default.md-table-more:hover {
  border: 1px solid #adadad;
}

#write .typora-table-drag-area::after {
  content: '';
  position: absolute;
  border: 2px solid #ddd;
  opacity: 0;
  transition: opacity .4s;
}

#typora-table-row-tracker #write .typora-table-drag-area::after,
#typora-table-col-tracker #write .typora-table-drag-area::after {
  opacity: 1;
}

#typora-table-row-tracker #write .typora-table-drag-area::after {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
}

#typora-table-col-tracker #write .typora-table-drag-area::after {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 0;
}

#write .md-toc-tooltip {
  z-index: 10;
}

#write .md-toc-item {
  font-size: 1.1rem;
  color: var(--primary-btn-border-color);
}

#write .md-toc-h1 {
  font-family: 'Adelle', 'Times New Roman', serif;
  font-size: 1.3rem;
}

#write .md-toc-h2 {
  font-size: 1.2rem;
}

#write .md-footnote {
  font-family: 'Adelle', 'Times New Roman', serif;
  font-size: .8rem;
  padding: 0 4px;
}

#write .md-def-split {
  min-width: 1ch;
}

#write .md-def-name::before, #write .md-def-name::after {
  color: #757575;
}

#write .md-image > .md-meta {
  color: #757575;
}

#write .md-rawblock-tooltip {
  top: -1.5rem;
  height: 1.5rem;
  padding: .25rem;
}

#write .md-search-hit {
  background: #428bca40;
  border-radius: .125rem;
}

#write .md-search-select {
  background: #428bca90;
  border: 1px solid #9292928f;
  padding: 0 1px;
}

#typora-quick-open {
  top: 32px;
  width: 40%;
  min-width: 420px;
  transform: translateX(-50%);
  margin-left: 0;
}

.mac-seamless-mode #typora-quick-open {
  top: 50px;
}

#typora-quick-open #typora-quick-open-input input {
  border-color: #428bca;
}

#typora-quick-open .ty-quick-open-category-title {
  height: auto;
  padding-top: 4px;
  padding-left: 12px;
}

#typora-quick-open .typora-quick-open-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

#typora-quick-open .typora-quick-open-item:not(.active):hover {
  background: #212121;
}

#typora-quick-open .typora-quick-open-item-path {
  margin-top: -2px;
}

.ty-tooltip {
  background: #2b2b2b;
  color: #ddd;
  border-color: rgba(0, 0, 0, 0.3);
}

.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container), .on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) * {
  color: #5b5b5b !important;
}

.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) mark {
  background: #3c3c3c;
}

.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) img {
  opacity: .5;
}

.on-focus-mode blockquote .md-end-block:not(.md-focus):not(.md-focus-container)::before {
  opacity: .5;
}

.on-focus-mode li:not(.md-focus-container)::before {
  opacity: .5;
}

#typora-sidebar {
  border-right: 1px solid #19191c;
}

#typora-sidebar .sidebar-tabs {
  font-family: 'Adelle', 'Times New Roman', serif;
  border-bottom: 1px solid black;
}

#typora-sidebar .file-list-item-file-name {
  font-family: 'Adelle', 'Times New Roman', serif;
  font-size: 1.2em;
}

#typora-sidebar #file-library-search-input {
  background: #2b2b2b;
}

#typora-sidebar #file-library-search .file-list-item-file-name {
  font-size: 1.1rem;
}

#typora-sidebar #file-library-search .ty-search-item.active {
  background: #212121;
}

#typora-sidebar .file-list-item-summary,
#typora-sidebar .ty-search-item-line {
  font-family: 'Avenir Next LT Pro', 'Lato', sans-serif;
}

#typora-sidebar .ty-file-search-match-text,
#typora-sidebar .ty-outline-hit {
  font-weight: bold;
  background: transparent;
}

#typora-sidebar #outline-content {
  line-height: 1.4em;
}

#typora-sidebar #outline-content .outline-h1 > .outline-item {
  font-family: 'Adelle', 'Times New Roman', serif;
}

#typora-sidebar .outline-title-wrapper,
#typora-sidebar .outline-item-wrapper.outline-h1 > .outline-item {
  font-family: 'Adelle', 'Times New Roman', serif;
  font-weight: bold;
}

#typora-sidebar .file-library-node,
#typora-sidebar .file-library-node .file-node-background {
  transition: background .4s;
}

#typora-sidebar .file-tree-node.file-library-file-node:not(.active):hover .file-node-background,
#typora-sidebar .file-list-item.file-library-node:not(.active):hover {
  background: #1e2022;
}

#typora-sidebar .file-tree-node.file-library-file-node.active .file-node-background,
#typora-sidebar .file-list-item.file-library-file-node.active {
  border-left: 5px solid #428bca;
}

#typora-sidebar .blink-area {
  animation: none;
}

#typora-sidebar #ty-sidebar-footer {
  border-top: 1px solid black;
}

#typora-sidebar #ty-sidebar-footer .sidebar-footer-item {
  transition: background .3s;
}

.dropdown-menu .active a,
.dropdown-menu .has-extra-menu.active a,
.dropdown-menu .has-btn-submenu .menu-style-btn.active, #footer-word-count-info .ty-footer-word-count-all tr:hover,
#ty-spell-check-dict-missing-menu li:hover, .ty-spell-check-panel-item.ty-active, .ty-spell-check-panel-item:hover {
  background: #ddd !important;
  color: #1e2022 !important;
}

footer.ty-footer {
  border-top: 0;
}

.footer-item:hover {
  background: #ddd !important;
  color: #1e2022 !important;
}

#outline-btn:hover {
  color: inherit;
}

.form-control:focus {
  border-color: #428bca;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #428bca;
}

.megamenu-opened header {
  background-image: none;
}

#top-titlebar, #top-titlebar * {
  color: inherit;
}

#megamenu-content {
  padding-top: 28px;
  background: #2b2b2b;
  color: #ddd;
}

#megamenu-content .long-btn {
  border-color: #9292928f;
  transition: border-color .4s;
}

#megamenu-content .long-btn:hover {
  border-color: #428bca;
  background: #1e2022;
  color: #fff !important;
}

#megamenu-menu-panel:not(:first-of-type) {
  margin-top: 48px;
}

#recent-file-panel-action-btn {
  background: inherit;
  border-color: #9292928f;
  transition: all .4s;
}

#recent-file-panel-action-btn:hover {
  border-color: #428bca;
  background: #1e2022;
  color: #fff;
}

#recent-document-table {
  background-color: inherit;
}

#recent-file-panel tbody tr:nth-child(2n-1) {
  background-color: inherit;
}

#recent-file-panel tbody tr:hover {
  background-color: #1e2022 !important;
}

#recent-file-panel tbody tr:hover td:nth-child(1) {
  color: #fff;
}

#megamenu-menu-sidebar {
  background-color: #1e2022;
  color: #ddd;
}

.megamenu-menu-header,
.megamenu-menu-list li:not(.saved) a {
  transition: all .4s;
}

.megamenu-menu-header {
  border-bottom: 1px solid #16161a;
}

.megamenu-menu-header:hover {
  background: #161819;
}

.megamenu-menu-list li:not(.saved) a:not(.active):hover,
.megamenu-menu-list li a.active {
  background: #101010 !important;
}

#m-saved {
  background: inherit;
  color: inherit;
}

#megamenu-menu-list {
  margin: 0;
}

.theme-preview-div {
  transition: all .4s;
}

.theme-preview-div:hover {
  border: 4px solid #285e8e;
}

.theme-preview-div.active, .theme-preview-div.active:hover {
  border: 4px solid #428bca;
}

.theme-preview-div.active i {
  color: #428bca;
}

.cm-s-typora-default .cm-s-inner.CodeMirror-line {
  border: 0 !important;
}

#write > p:first-child {
  position: static;
}

#write > p:first-child:not(:only-child)::before, #write > p:only-child::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("ursine/night.png") no-repeat 45% 90% transparent;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 0;
  transition: opacity .5s;
}

#write > p:only-child:empty::before {
  opacity: 1;
}

@media print {
  #write ol > li, #write ul > li {
    color: #ddd;
  }
}
