// expandedFilenamePattern: ./css/$1.css

// SCSS VARIABLES //

$bg-color: #fbfbfb;
$text-color: #333;
$md-char-color: #b4b4b4;
$meta-content-color: #757575;
$link-color: #db4d52;
$mark-color: #adfe96;
$code-bg-color: #f7f7f7;

$primary-color: #db4d52;
$primary-btn-border-color: #be2f34;
$accent-color: #d0d0d0;
$table-head-color: #d0d0d0;

$active-file-bg-color: #16161a;
$active-search-item-bg-color: #23242b;
$item-hover-bg-color: #202020;
$item-hover-text-color: #fff;

$sidebar-bg-color: #2e3235;
$sidebar-text-color: #f0f0f0;
$sidebar-file-rename-text-color: $text-color;
$search-hit-bg-color: #db4d5230;
$search-select-bg-color: #db4d5270;

$tooltip-bg-color: $bg-color;
$tooltip-text-color: $text-color;
$tooltip-border-color: #00000040;
$footnote-sup-bg-color: #f0f0f0;
$footnote-tooltip-bg-color: #222;
$footnote-tooltip-text-color: $sidebar-text-color;

$megamenu-bg-color: $bg-color;
$megamenu-text-color: $text-color;
$megamenu-sidebar-bg-color: $sidebar-bg-color;
$megamenu-sidebar-hover-bg-color: #161819;
$megamenu-sidebar-active-bg-color: #101010;
$megamenu-button-border-color: #9292928f;

// IMPORTS //

// Inherit Ursine Umbra styling
@import 'ursine-umbra';
@import 'ursine/code-3024-day';

// STYLING //

// Tables
table tr:nth-child(2n) {
  background: #e6e6e6;
}

// Footnotes
sup.md-footnote {
  background: #ddd;
}

// Sidebar
#typora-sidebar * {
  color: $sidebar-text-color;

  // File rename
  .file-tree-rename-input {
      color: $sidebar-file-rename-text-color;
  }
}

// Quick open window
#typora-quick-open * {
  color: $sidebar-text-color;
}

// Windows Unibody sidebar
#megamenu-menu-sidebar {
  color: $sidebar-text-color !important;
}

.megamenu-menu-list li {
  &:not(.saved) a:not(.active):hover,
  a.active {
    color: $sidebar-text-color !important;
  }
}

// Empty file splashscreen
#write > p {
  &:first-child:not(:only-child)::before,
  &:only-child::before {
    background: url('ursine/day.png') no-repeat 55% 90% transparent;
    background-size: cover;
  }
}
